In [1]:
# we are importing necessary package 
import os 
import pandas as pd 
import gzip

In [117]:

# we are find the root of the directory on which the python is running 
Root_path=os.getcwd()
Creating_path1="Data"

path_toread_Data = os.path.join(Root_path,Creating_path1) # we are joining the old with new value to form a new path 
if not os.path.exists(path_toread_Data):
    os.mkdir(path_toread_Data)

In [2]:
# we rae writimg a function to open the meta data file 
lo=[]
def parse(path): 
    g = gzip.open(path, 'rb') 
    for l in g: 
        yield eval(l)

def getDF(path): 
    i = 0 
    df = {} 
    for d in parse(path): 
        df[i] = d 
        i += 1 
        lo.append(df)


df = getDF('meta_Digital_Music.json.gz')

In [19]:
# we are creating a emply list 
ALL_ASIN=[]
ALL_TITLE=[]

In [20]:
# we are looping thri the json to get the data and appending it to a list 
ASIN=[]

TITLE=[]
DESCRIPTION=[]
PRICE=[]
CATEGORIES=[]
URL=[]
for i in range(0,279899):
    d =lo[0][i]
    asin= d.get("asin","NULL")
    asin = str(asin)
    asin = asin.replace('\n','') # we are cleaning the data by replacong it with empty string  
    asin = asin.replace(",","")
    asin = "'"+str(asin)
    ASIN.append(asin)
    ALL_ASIN.append(asin)

    title= d.get("title","NULL")
    title = str(title)
    title = title.replace('\n','') # we are cleaning the data by replacong it with empty string  
    title = title.replace(",","")
    TITLE.append(title)
    ALL_TITLE.append(title)

    description= d.get("description","NULL")
    description = str(description)
    description = description.replace('\n','') # we are cleaning the data by replacong it with empty string  
    description = description.replace(",","")
    DESCRIPTION.append(description)
    
    price= d.get("price", "0")
    price = str(price)
    price = price.replace('\n','') # we are cleaning the data by replacong it with empty string  
    price = price.replace(",","")
    PRICE.append(price)
    
    categories= d.get("categories", "NULL")
    categories = str(categories)
    categories = categories.replace('\n','') # we are cleaning the data by replacong it with empty string  
    categories = categories.replace('[','') # we are cleaning the data by replacong it with empty string  
    categories = categories.replace(']','') # we are cleaning the data by replacong it with empty string  
    categories = categories.replace("'",'') # we are cleaning the data by replacong it with empty string  
    categories = categories.replace(",","")
    CATEGORIES.append(categories)
    
    imUrl= d.get("imUrl","NULL")
    imUrl = str(imUrl)
    imUrl = imUrl.replace(",","")
    URL.append(imUrl)

In [26]:
# we are creating a dataframe 
D1= pd.DataFrame(ASIN, columns=["ASIN"])
D2= pd.DataFrame(TITLE, columns=["TITLE"])
D3= pd.DataFrame(DESCRIPTION, columns=["DESCRIPTION"])
D4= pd.DataFrame(PRICE, columns=["PRICE"])
D5= pd.DataFrame(CATEGORIES, columns=["CATEGORIES"])

D6= pd.DataFrame(URL, columns=["URL"])

In [27]:
FINAL_DATA= pd.concat([D1, D2,D3,D4,D5,D6], axis=1)

In [28]:
FINAL_DATA.head(2)

,ASIN,TITLE,DESCRIPTION,PRICE,CATEGORIES,URL
0,'5555991584,Memory of Trees,NULL,9.49,CDs & Vinyl New Age Celtic New Age CDs & Vinyl...,http://ecx.images-amazon.com/images/I/51b5WDjd...
1,'6308051551,Don't Drink His Blood,NEW Combo BLUWAVS CD and FLAC FILE,8.91,Digital Music Alternative Rock Indie & Lo-Fi,http://ecx.images-amazon.com/images/I/31LT2n7Q...

In [120]:
# creating a directiory 
Amazon_processed_large_Data_csv ="Amazon_Processed_Large_Data_csv"

path_toread_Data2 = os.path.join(path_toread_Data,Amazon_processed_large_Data_csv) # we are joining the old with new value to form a new path 
if not os.path.exists(path_toread_Data2):
    os.mkdir(path_toread_Data2)

In [121]:
# creating a directiory and writing the file 
METADATA_MUSIC_ALL_DATA = "METADATA_MUSIC_ALL_DATA.csv"
Amazon_METADATA_MUSIC_ALL_Data_csv_tobe_writen= os.path.join(path_toread_Data2,METADATA_MUSIC_ALL_DATA)

with open (Amazon_METADATA_MUSIC_ALL_Data_csv_tobe_writen,'a+') as outputfile1:
    outputfile1.write(FINAL_DATA.to_csv(index=False))

In [110]:
# we are creating a dataframe 
D7= pd.DataFrame(ALL_ASIN, columns=["ALL_ASIN"])
D8= pd.DataFrame(ALL_TITLE, columns=["ALL_TITLE"])
FINAL_DATA_ALL_ASIN_TITLE= pd.concat([D7, D8], axis=1)

In [122]:
# creating a directiory and writing the file 
METADATA_MUSIC_ALL_ASIN_TITLE = "METADATA_MUSIC_ALL_ASIN_TITLE.csv"
Amazon_METADATA_MUSIC_ALL_ASIN_TITLE_Data_csv_tobe_writen= os.path.join(path_toread_Data2,METADATA_MUSIC_ALL_ASIN_TITLE)

with open (Amazon_METADATA_MUSIC_ALL_ASIN_TITLE_Data_csv_tobe_writen,'a+') as outputfile1:
    outputfile1.write(FINAL_DATA_ALL_ASIN_TITLE.to_csv(index=False))

In [111]:
FINAL_DATA_ALL_ASIN_TITLE.head(2)

      ALL_ASIN              ALL_TITLE
0  '5555991584        Memory of Trees
1  '6308051551  Don't Drink His Blood

In [127]:
#Removing the dupliacte data
Removing_Dupilcate_Title = FINAL_DATA_ALL_ASIN_TITLE.drop_duplicates('ALL_TITLE', take_last=True)

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: the take_last=True keyword is deprecated, use keep='last' instead
  if __name__ == '__main__':

In [129]:
Removing_Dupilcate_Title.head(2)

      ALL_ASIN              ALL_TITLE
0  '5555991584        Memory of Trees
1  '6308051551  Don't Drink His Blood

In [130]:
# creating a directiory and writing the file 

METADATA_MUSIC_REMOVED_DUPLICATE_TITLE_UPPERCASE = "METADATA_MUSIC_REMOVED_DUPLICATE_TITLE_UPPERCASE.csv"
Amazon_METADATA_MUSIC_REMOVED_DUPLICATE_TITLE_UPPERCASE_csv_tobe_writen= os.path.join(path_toread_Data2,METADATA_MUSIC_REMOVED_DUPLICATE_TITLE_UPPERCASE)

with open (Amazon_METADATA_MUSIC_REMOVED_DUPLICATE_TITLE_UPPERCASE_csv_tobe_writen,'a+') as outputfile1:
    outputfile1.write(Removing_Dupilcate_Title.to_csv(index=False))

In [131]:
Removing_Dupilcate_Title["ALL_TITLE"] = Removing_Dupilcate_Title["ALL_TITLE"].str.lower()

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [132]:
Removing_Dupilcate_Title.head(2)

      ALL_ASIN              ALL_TITLE
0  '5555991584        memory of trees
1  '6308051551  don't drink his blood

In [134]:
# creating a directiory and writing the file 

METADATA_MUSIC_REMOVED_DUPLICATE_TITLE_LOWER = "METADATA_MUSIC_REMOVED_DUPLICATE_TITLE_LOWER.csv"
Amazon_METADATA_MUSIC_REMOVED_DUPLICATE_TITLE_LOWER_csv_tobe_writen= os.path.join(path_toread_Data2,METADATA_MUSIC_REMOVED_DUPLICATE_TITLE_LOWER)

with open (Amazon_METADATA_MUSIC_REMOVED_DUPLICATE_TITLE_LOWER_csv_tobe_writen,'a+') as outputfile1:
    outputfile1.write(Removing_Dupilcate_Title.to_csv(index=False))

In [135]:
Justlower_title=Removing_Dupilcate_Title["ALL_TITLE"]

In [138]:
 # creating a directiory and writing the file 
  

Amazon_Spotify_Just_Name_Lowercase_csv ="Amazon_Spotify_Just_Name_Lowercase_csv"
path_toread_Data3 = os.path.join(path_toread_Data,Amazon_Spotify_Just_Name_Lowercase_csv) # we are joining the old with new value to form a new path 
if not os.path.exists(path_toread_Data3):
    os.mkdir(path_toread_Data3) 


METADATA_Just_TITLE_LOWER = "AMAZON_SPOTIFY_JUST_TITLE_LOWER.csv"
Amazon_Spotify_processed__Data_csv_tobe_writen= os.path.join(path_toread_Data3,METADATA_Just_TITLE_LOWER)

with open (Amazon_Spotify_processed__Data_csv_tobe_writen,'a+') as outputfile1:
    outputfile1.write(Justlower_title.to_csv(index=False))