In [2]:
import pandas as pd
import os

In [3]:
Root_path=os.getcwd()
data= "Data"
Data= os.path.join(Root_path,data) # we are joining the old with new value to form a new path

In [12]:
review_details_file="Final_Reviews.csv"
Data_review_details= os.path.join(Data,review_details_file) # we are joining the old with new value to form a new path 

path_product_details="meta_Digital_Music.csv"
Data_product_details= os.path.join(Data,path_product_details) # we are joining the old with new value to form a new path 

product_details = pd.DataFrame.from_csv(Data_product_details).reset_index()
review_details = pd.DataFrame.from_csv(Data_review_details, encoding = "ISO-8859-1").reset_index()

C:\Users\USER\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2821: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [8]:
product_details.head(2)

,ASIN,TITLE,DESCRIPTION,PRICE,CATEGORIES,URL
0,'5555991584,Memory of Trees,NaN,9.49,CDs & Vinyl New Age Celtic New Age CDs & Vinyl...,http://ecx.images-amazon.com/images/I/51b5WDjd...
1,'6308051551,Don't Drink His Blood,NEW Combo BLUWAVS CD and FLAC FILE,8.91,Digital Music Alternative Rock Indie & Lo-Fi,http://ecx.images-amazon.com/images/I/31LT2n7Q...

In [9]:

product_details_null= product_details[product_details.TITLE.notnull()].reset_index()

In [14]:
product_details_SAMPLE =product_details[["ASIN","TITLE","PRICE"]].copy()

In [15]:
product_details_Onlyid= product_details_SAMPLE.ASIN.drop_duplicates()

In [26]:
product_details_SAMPLE_uniqe= product_details_Onlyid

In [28]:
review_details_withname= pd.DataFrame(review_details[review_details['ASIN'].isin(product_details_SAMPLE_uniqe)]).reset_index()

In [30]:
review_details_withname["Count"]=1

In [31]:
Product_most_reviews = pd.DataFrame( review_details_withname.groupby("ASIN",sort=True).Count.sum().reset_index())

In [32]:

Product_most_reviews_sort=Product_most_reviews.sort_values('Count', ascending=False)

In [38]:
Top_Products= Product_most_reviews_sort.head(6)

In [39]:
Top_Products_ids=Top_Products.ASIN

In [40]:
Top_6_Product_Reviews= pd.DataFrame(review_details[review_details['ASIN'].isin(Top_Products_ids)]).reset_index()

In [44]:
Just_top_product_reviews= Top_6_Product_Reviews.ReviewText

In [54]:
ALL_path_Review_details="Data\All_filtered_Review.csv"
ALL_Filtered_reviews = os.path.join(Root_path,ALL_path_Review_details) # we are joining the old with new value to form a new path 

with open (ALL_Filtered_reviews,'a+') as outputfile1:
            outputfile1.write(Top_6_Product_Reviews.to_csv(index=False))

In [57]:
len(Just_top_product_reviews)

9940

In [70]:
sentimental="Data\Sentiment_score_Review.csv"
sentimental_score = os.path.join(Root_path,sentimental) # we are joining the old with new value to form a new path 

with open (sentimental_score,'a+') as outputfile1:
            outputfile1.write("Counter,sentimental_score"+"\n")

In [ ]:
count = []
from textblob import TextBlob
from textblob.sentiments import NaiveBayesAnalyzer

for i in range(0,len(Just_top_product_reviews)):
    sentence= Just_top_product_reviews[i]
    blob = TextBlob(sentence, analyzer=NaiveBayesAnalyzer())
    VALUE=[]
    if blob.sentiment.classification == 'pos':
        count.append(1)
        VALUE.append(1)
    if blob.sentiment.classification == 'neg':
        count.append(0)
        VALUE.append(0)
    with open (sentimental_score,'a+') as outputfile1:
            outputfile1.write(str(i)+","+str(VALUE[0])+","+"\n")

In [ ]:
Review_details = pd.DataFrame.from_csv(Data_Review_details, encoding = "ISO-8859-1").reset_index()

In [11]:
Review_details.head(2)

,index,ASIN,OVERALL,ReviewText,ReviewTime,ReviewerID,ReviewerName,Summary,UnixReviewTime,Helpful,Count,0
0,148043,'B00005YW4H,5,This cd has great music and is easy to listen ...,07 20 2014,A2ANZYE6HTIUAO,NaN,'Five Stars,'1405814400,0 \ 0,1,1
1,148044,'B00005YW4H,4,i just picked this cd up not knowing a thing a...,04 16 2002,A10WN0I140TE70,30 wk preemie mom,'great buy,'1018915200,0 \ 1,1,1

In [57]:
# we are creating a lambda function 
Review_details["Really_Helpfull"] = Review_details["Helpful"].apply(lambda x:x.split("\\",1)[-2]).astype(int)

In [58]:
Review_details["Not_Helpfull"] = Review_details["Helpful"].apply(lambda x:x.split("\\",1)[-1]).astype(int)

In [59]:
Review_details.head(2)

,index,ASIN,OVERALL,ReviewText,ReviewTime,ReviewerID,ReviewerName,Summary,UnixReviewTime,Helpful,Count,Sentimental_score,Really_Helpfull,Not_Helpfull
0,148043,'B00005YW4H,5,This cd has great music and is easy to listen ...,07 20 2014,A2ANZYE6HTIUAO,NaN,'Five Stars,'1405814400,0 \ 0,1,1,0,0
1,148044,'B00005YW4H,4,i just picked this cd up not knowing a thing a...,04 16 2002,A10WN0I140TE70,30 wk preemie mom,'great buy,'1018915200,0 \ 1,1,1,0,1

In [48]:
Review_details=Review_details.rename(columns = {"0":"Sentimental_score"})

In [64]:
# We are creating a data frame where we finter the data for n
Helpful=pd.DataFrame( Review_details.groupby(["ASIN","Sentimental_score"],sort=False).Really_Helpfull.sum().reset_index())

In [61]:
NEWYORK.head(10)

          ASIN  Sentimental_score  Really_Helpfull
0  'B00005YW4H                  1             3932
1  'B00005YW4H                  0              380
2  'B000084T18                  1             1625
3  'B000084T18                  0              839
4  'B00008H2LB                  0              439
5  'B00008H2LB                  1             1640

In [65]:
# We are creating a data frame where we finter the data for newyork 
NotHelpful =pd.DataFrame( Review_details.groupby(["ASIN","Sentimental_score"],sort=False).Not_Helpfull.sum().reset_index())

In [66]:
Filtered_with_merged=pd.merge(NotHelpful,Helpful, on=("ASIN","Sentimental_score"))

In [67]:
Filtered_with_merged

           ASIN  Sentimental_score  Not_Helpfull  Really_Helpfull
0   'B00005YW4H                  1          5877             3932
1   'B00005YW4H                  0           943              380
2   'B000084T18                  1          2775             1625
3   'B000084T18                  0          1409              839
4   'B00008H2LB                  0          1135              439
5   'B00008H2LB                  1          2719             1640
6   'B0000AGWEC                  1         12537             8874
7   'B0000AGWEC                  0          2069              687
8   'B0007NFL18                  0          3034             1769
9   'B0007NFL18                  1          3703             2249
10  'B000BGR18W                  1         10313             5785
11  'B000BGR18W                  0          2416             1240
12  'B0026P3G12                  1          8133             6093
13  'B0026P3G12                  0           314              226
14  'B004D1GZ2E                  1           717              438
15  'B004D1GZ2E                  0            23                8

In [ ]:
Top_reviewed_product = pd.DataFrame( review_details.groupby("ASIN",sort=True).Count.sum().reset_index())

In [ ]:

Top_reviewed_product_sort=Top_reviewed_product.sort_values('Count', ascending=False)

In [ ]:
Top_10_Product=pd.DataFrame( Top_reviewed_product_sort.head(10))

In [ ]:
product_details_SAMPLE =product_details[["ASIN","TITLE","PRICE"]].copy()

In [ ]:
product_details_SAMPLE_uniqe= product_details_SAMPLE.drop_duplicates()

In [ ]:
PRO_TRY= pd.merge(Top_10_Product,product_details_SAMPLE_uniqe, on ="ASIN")

In [ ]:
PRO_TRY